name: UPDATER
on: workflow_dispatch

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT CODE
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          fetch-depth: 0

      - name: UPDATE AND COMMIT CHANGES
        run: |
          cd .github/workflows
          for i in {1..9}; do
            [ -f "C$i.yaml" ] && sed -i 's/nexpocket\.com/nexpocket\.b-cdn.net/g' "C$i.yaml"
          done
          
          git config --global user.name "GitHub Updater"
          git config --global user.email "updater@github.com"
          git add .
          git commit -m "PERMANENT UPDATE: Replaced Camoufox.zip references" || echo "No changes to commit"
          git push
