name: REPLACER
on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/replacer.yaml'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT CODE
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          fetch-depth: 0

      - name: UPDATE AND COMMIT CHANGES
        run: |
          cd .github/workflows

          # Define BEFORE and AFTER strings
          Before="CamoufoxV2-130525-1.zip"
          After="CamoufoxV6-130525-1.zip"

          echo "Replacing all '$Before' with '$After'"

          for i in {1..10}; do
            file="C$i.yaml"
            if [ -f "$file" ]; then
              echo "Updating $file"
              sed -i "s/$Before/$After/g" "$file"
            fi
          done

          git config --global user.name "GitHub Updater"
          git config --global user.email "updater@github.com"
          git add .
          git commit -m "Replaced $Before with $After" || echo "No changes to commit"
          git push
